a:hover {color : #326902;}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
  }  

  
.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    display: inline-block;
    margin: 0 3px;
    padding: 10px 17px; 
    background-color: #eb9f73;
    color: #FFFFFF;
    border-radius: 22px; 
    /* font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; */
    font-family: "Delius", cursive;
}

h1 {
    color: #eb9f73; 
    text-align: center; 
    
    /* font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; */
    font-family: "Delius", cursive;
}

h2 {
    color: #3f542d; 
    text-align: center; 
    font-size: 27px;
    /* font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; */
    font-family: "Delius", cursive;
}

h3 {
    color: #eb9f73;
    text-align: center; 
    /* font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; */
    font-family: "Delius", cursive;
    font-size: 20px;
}

body {
    color: #1e3d02;
    background-image: url('https://i.ibb.co/JxtNCQ6/jpeg-optimizer-IMG-1955.jpg');
    font-family: "Nunito", sans-serif;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    text-align: center;

}

.column img {
    width: 100%;
    max-width: 170px;
}

.button {
    background-color: #eb9f73;
    color: #FFFFFF;
    margin: 0 3px;
    padding: 10px 17px; 
    border-radius: 22px; 
    font-size: 24px;
    text-align: center;
    width: fit-content;
    /* font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; */
    font-family: "Delius", cursive;
}

footer {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    bottom: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eb9f73;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product { 
        padding: 15px;
        text-align: center;
}
	
.product img {
	width: 100%;
	max-width: 170px;
}
